main .main-tab-items {
    display: flex;
    padding: 5px 2px 0px 2px;
    justify-content: center;
}

main .main-tab-items a {
    flex: 0 1 33.333%;
    border: double;
    border-radius: 2px;
    text-decoration: none;
    font-size: 110%;
    color:black
}

main .main-tab-items .active {
    background-color: #008AA4;
}

main .main-tab-body {
    background: #008AA4;
    border-style: none solid solid solid;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.main-schedule-list {
    text-align: center;
    padding: 20px 15px 20px 20px;
    background-color: #119fbc;
    border: 2px solid;
    border-radius: 20px;
    height: 410px;
    width: 500px;
}

.main-schedule-list h2{
    margin-top: 5px;
    margin-bottom: 15px;
}

.schedule-list {
    height: 380px;
    overflow-x: hidden; 
    overflow-y: auto;  
}

.schedule-list::-webkit-scrollbar {
    display: none;
}

.main-tabs-no-schedule {
    display: fles;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.main-tabs-no-schedule h2{
    font-weight: normal;
    font-size: 140%;
}

::-webkit-input-placeholder {
    text-align: center;
}

.main-tv-shows-panel, .main-channels-panel, .main-schedule-panel {
    text-align: center;
    padding: 20px 30px 20px 30px;
    background-color: #FC8B2A;
    border: 2px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input-show-field, #input-channel-field,  #input-date-field, .subpanel-block select {
    width: 185px;
    font-size: 95%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 10px;
}

.subpanel-block input {
    width: 85px;
    font-size: 95%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 10px;
    height: 18px;
}

.search-tv-show-button, .delete-tv-show-button, .cancel-button, .search-channel-button, .delete-channel-button {
    font-size: 95%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 10px;
}

.search-schedule-button, .delete-schedule-button, .cancel-сhannel-button, #channel-select, .delete-event-button, .update-event-button, .cancel-event-button {
    font-size: 95%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 10px;
}

#show-genre-input, #channel-topics-input {
    text-align: center;
    font-size: 95%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 96%;
    padding: 5px;
    margin-bottom: 10px;
}

#show-description-textarea, #channel-description-textarea {
    font-size: 95%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    margin-bottom: 10px;
}

#show-age-input {
    text-align: center;
    font-size: 95%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    width: 96%;
    margin-bottom: 10px;
}

.panel-block, .subpanel-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.subpanel-block div {
    margin-bottom: 10px;
}

.add-tv-show-button, .update-tv-show-button, .add-channel-button, .update-channel-button {
    font-size: 95%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.add-event-button {
    font-size: 95%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

.main-tv-shows-list, .main-channels-list {
    text-align: center;
    padding: 20px 15px 20px 20px;
    background-color: #01D8DD;
    border: 2px solid;
    border-radius: 20px;
    height: 450px;
    width: 300px;
}

.main-tv-shows-list h2, .main-channels-list h2{
    margin-top: 5px;
    margin-bottom: 5px;
}

.tv-shows-list, .channels-list {
    text-align: left;
    height: 410px;
    overflow-x: hidden; 
    overflow-y: auto;  
}

.tv-shows-list li, .channels-list li {
    font-style: normal;
    font-weight: normal;
    font-size: 120%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tv-shows-list::-webkit-scrollbar, .channels-list::-webkit-scrollbar {
    display: none;
}