html, body {
    height: 100%;
    margin: 5px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
}

header .header-container {
    background: yellow;
    border: solid;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .header-left {
    flex-basis: 20%;
}

header .header-logo img {
    width: 25%;
    height: 25%;
}

header .header-banner h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 150%;
}
header .header-middle {
    padding: 10px;
    flex-basis: 40%;
}

header .header-middle .input-box {
    display: inline-block;
    margin-left: 10px;
}

header input[type="text"] {
    padding: 5px;
    font-size: 120%;
    border-color: black;
    border-radius: 15px;
}

header .header-middle .input-button {
    display: inline-block;
}

header button {
    padding: 5px;
    font-size: 120%;
    border-color: black;
    border-radius: 10px;
}

header .header-nav {
    flex-basis: 25%;
}

header .header-nav img {
    width: 20%;
    height: 20%;
}

main {
    flex: 1 1 auto;
}

main .main-container {
    margin-top: 5px;
}

main .main-content {
    text-align: center;
}

main .main-filters {
    background:chartreuse;
    border: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .main-filters-image {
    flex-basis: 15%;
}

#channel-select, #tv-show-select {
    font-size: 105%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

footer {
    text-align: center;
}

footer .footer-container {
    background: yellow;
    border: solid;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .footer-image {
    flex-basis: 30%;
}

footer .footer-information {
    flex-basis: 20%;
}

footer .footer-container h3 {
    font-size: 130%;
}

footer .footer-sitemap li{
    font-size: 110%;
}


footer .footer-sitemap a:visited{
    color: black;
}

footer .footer-sitemap a:visited{
    color: red;
}

footer .footer-social-networks {
    flex-basis: 30%;
}