html, body {
    height: 100%;
    margin: 5px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
}

header .header-container {
    background: #FC8B2A;
    border: solid;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .header-left {
    flex-basis: 20%;
}

header .header-logo img {
    width: 25%;
    height: 25%;
}

header .header-banner h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 150%;
}
header .header-middle {
    padding: 10px;
    flex-basis: 40%;
}

header .header-middle .input-box {
    display: inline-block;
    margin-left: 10px;
}

header input[type="text"] {
    padding: 5px;
    font-size: 120%;
    border-color: black;
    border-radius: 15px;
}

header .header-middle .input-button {
    display: inline-block;
}

header button {
    padding: 5px;
    font-size: 120%;
    border-color: black;
    border-radius: 10px;
}

header .header-nav {
    flex-basis: 25%;
}

header .header-nav img {
    width: 20%;
    height: 20%;
}

main {
    margin-top: 5px;
    margin-bottom: 5px;
    flex: 1 1 auto;
}

main .main-content {
    text-align: center;
}

main .main-filters {
    background: #BC7D85;
    border: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .main-filters-image {
    flex-basis: 15%;
}

#channel-select, #tv-show-select {
    font-size: 105%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main .main-tabs {
    margin-top: 5px;
}
main .main-tabs-items {
    display: flex;
    padding: 5px 2px 0px 2px;
}

main .main-tabs-items a {
    flex: 0 1 7.143%;
    border: double;
    border-radius: 2px;
    text-decoration: none;
    font-size: 110%;
    color:black
}

main .main-tabs-items a.today {
    background-color: #01D8DD;
}

main .main-tabs-items a.active {
    background-color: #008AA4;
}

main .main-tabs-body {
    background: #008AA4;
    border-style: none solid solid solid;
    border-radius: 5px;
}

main .main-tabs-cells {
    padding: 5px;
}

main .main-tabs-cell {
    display: inline-block;
    border: solid;
    border-radius: 8px 8px 8px 8px;
    vertical-align: top;
    background: #01D8DD;
    width: 420px;
    height: 350px;
    margin: 2px 30px 30px 2px;
    overflow-x: hidden;
    overflow-y: auto;
}

main .main-channel-box, .main-event-box-element {
    display: inline-block;
    width: 420px;
}

main .main-channel-box {
    border-style: none none solid none;
    padding: 5px;
}

main .main-channel-logo {
    display: inline;
    margin-right: 25px;
}

main .main-channel-name {
    display: inline;
    vertical-align: super;
}

main .main-channel-name a {
    text-decoration: none;
    font-size: 130%;
    color:black
}

main .main-event-box-element {
    text-align: left;
    border-style: none none dotted none;
    padding: 5px;
}

main .main-event-time, .main-event-name {
    display: table-cell;
    padding-left: 10px;
    vertical-align: middle;
}

main .main-event-time time {
    font-size: 110%;
    color: black;
    font-style: oblique;
}

main .main-event-name a {
    text-decoration: none;
    font-size: 110%;
    color:black
}

footer {
    text-align: center;
}

footer .footer-container {
    background: #FC8B2A;
    border: solid;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .footer-image {
    flex-basis: 30%;
}

footer .footer-information {
    flex-basis: 20%;
}

footer .footer-container h3 {
    font-size: 130%;
}

footer .footer-sitemap li{
    font-size: 110%;
}


footer .footer-sitemap a:visited{
    color: black;
}

footer .footer-sitemap a:visited{
    color: red;
}

footer .footer-social-networks {
    flex-basis: 30%;
}